@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
<div class="text-center">
    <h1 class="display-4">Welcome To Wealth Wave Bank </h1>
    <p> Please Click on Login button </p>

    <!--This button will redirect user into login page we may have to change it in future -->
        <div id="submitButton1">
            <button type="submit" class="btn btn-primary" style="background-color: darkblue; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 16px; color: white;">Login</button>
        </div>

</div>
</form>