@page
@model BankApplication.Pages.LoginPageModel
@{
	ViewData["Title"] = "Login";
}
<h2 class="bodyTitles" style="margin-top: 100px;">@ViewData["Title"]</h2>


<form method="post">

    <!--For user name and passwordss-->
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" asp-for="Login.Username" required />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" asp-for="Login.Password" required />
    </div>

    <button type="submit" class="submitButtons">Login</button>

    <div class="form-group">
            <p>
                <!--This must need to redirect users tu passwrd and regsr pages-->
                <a asp-page="/ForgotPassword">Forgot Password?</a> |
                <a asp-page="/RegisterationForm" asp-route-registerClicked="True">Register</a>
            </p>
    </div> 
    
    <button type="submit" class="btn redirectToHomePage" formaction="/Index">Go to Home Page</button>

</form>