@page
@model BankApplication.Pages.LoginPageModel
@{
	ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>


<form method="post">

    <!--For user name and passwordss-->
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" asp-for="Login.Username" required />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" asp-for="Login.Password" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <div class="text-center">
        <p>
            <a asp-page="/ForgotPassword">Forgot Password?</a> | <a asp-page="/Register">Register</a>
        </p>
    </div>
</form>